In [1]:
import pandas as pd

# Reading data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.199663         0   95          0           1              0
1  101.451255         1   46          1           0              1
2  101.115960         1   15          1           0              1
3  100.252852         1   70          0          -1              0
4   98.830837         0   71          0          -1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2994  100.483440         1   53          0          -1              1
2995   98.849458         1   12          1          -1              0
2996   99.659250         1   18          1           0              1
2997   98.859353         1   80          1           1              1
2998  100.980996         0   49          0          -1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   float64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runnyNose      2999 non-null   int64
 4   diffBreath     2999 non-null   int64
 5   infectionProb  2999 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 140.7 KB

In [6]:
df['diffBreath'].value_counts()

-1    1030
 0    1002
 1     967
Name: diffBreath, dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,100.025887,0.496832,50.517839,0.502501,-0.021007,0.486162
std,1.153771,0.500073,28.966572,0.500077,0.815886,0.499892
min,98.000355,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,99.035039,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.047576,0.000000,51.000000,1.000000,0.000000,0.000000
75%,101.035734,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.999923,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [9]:
import numpy as np

In [10]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)* ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
np.random.permutation(7)

array([6, 5, 2, 3, 0, 4, 1])

In [12]:
train, test = data_split(df, 0.2)

In [13]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1103   98.780400         1   91          1           0              0
1569   98.660141         0   13          1           1              1
2229   98.087344         0   37          0           1              0
2296  101.910489         1   97          1          -1              0
1800   98.181631         0   30          0           0              1
...          ...       ...  ...        ...         ...            ...
1638   98.368101         0   28          1          -1              0
1095  100.217962         0   71          1           1              1
1130   99.947497         0   37          0           0              1
1294   98.674999         0    5          0          -1              1
860    99.713217         1   80          1          -1              0

[2400 rows x 6 columns]

In [14]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1376   98.151910         1   56          1          -1              0
932    98.211975         0   62          1           0              0
144    98.481599         1   67          0          -1              0
1752   99.902437         1   56          0          -1              0
51    100.052508         0   53          1           0              0
...          ...       ...  ...        ...         ...            ...
842   100.291134         1   18          1           0              0
637    99.381879         0   38          0          -1              1
695    98.735833         1   75          0           0              0
226   100.120423         0   15          0          -1              1
2603   98.098779         1   83          0          -1              0

[599 rows x 6 columns]

In [15]:
X_train = train[['fever','bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever','bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [16]:
Y_train = train[['infectionProb']].to_numpy().reshape(2400,)
Y_test = test[['infectionProb']].to_numpy().reshape(599,)

In [17]:
Y_train

array([0, 1, 0, ..., 1, 1, 0], dtype=int64)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
inputFeatures = [[102,1,22,-1,1]]
infProb = clf.predict_proba(inputFeatures)[0][1]

In [21]:
infProb

0.4203279009117641